/* popularSongs.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h2 {
    color: #333;
}

.playlist {
    max-width: 800px; /* Increased width for better spacing */
    margin-top: 20px;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px; /* Increased padding for better spacing */
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.song:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.song img {
    width: 100px; /* Increased image size */
    height: 100px; /* Increased image size */
    border-radius: 8px;
    margin-right: 20px; /* Increased margin for better spacing */
}

.song-details {
    flex: 1;
    padding: 0 20px;
}

.song-details h3 {
    margin: 0;
    font-size: 20px; /* Increased font size */
    font-weight: bold;
    color: #333;
}

.song-details p {
    margin: 8px 0 0; /* Adjusted margin for better spacing */
    font-size: 16px; /* Increased font size */
    color: #777;
}

.song-actions {
    display: flex;
    align-items: center;
}

.song-actions i {
    margin-right: 15px; /* Adjusted margin for better spacing */
    color: #555;
    cursor: pointer;
}
